level/level_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="level">
    <xs:complexType>
      <xs:sequence>
		<xs:element name="size">
		  <xs:complexType>
		    <xs:sequence>
			  <xs:element type="xs:positiveInteger" name="x"/>
			  <xs:element type="xs:positiveInteger" name="y"/>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
        <xs:element name="indestructible">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" maxOccurs="unbounded" minOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:positiveInteger" name="x"/>
                    <xs:element type="xs:positiveInteger" name="y"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:positiveInteger" name="count"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="destructible">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="position" maxOccurs="unbounded" minOccurs="3">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:positiveInteger" name="x"/>
                    <xs:element type="xs:positiveInteger" name="y"/>
                    <xs:element type="xs:byte" name="item"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:positiveInteger" name="count"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>